/*<!--------------------------------header------------------------------>*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: Arial;
    font-weight: normal;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87509c; 
    padding: 20px 100px;
    width: 100%;
    box-sizing: border-box;
}

.container-header {  
    width: 100%;
    max-width: 1152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
}

nav ul li a.active,
nav ul li a:hover {
    background: #5C357D; 
    border-radius: 5px;
}

/*<!--------------------------------section first------------------------------>*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw; 
    background-color: #87509c;
    padding-top: 50px;
    padding-top: 1vh;
}

.first {
    text-align: center;
    max-width: 450px;
    width: 1452px;
}

#first.section {
    width: 100%;
    min-height: 350px;
    max-width: 1440px;
    background-color: #87509c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 75px 20px;
    box-sizing: border-box;
}

.first-content {
    max-width: 1152px;
}

.first h1 {
    color: white
}

.first-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    color: white;
    margin-bottom: 10px;
}

.button {
    margin-top: 45px;
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 15px 45px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    background-color: #d68910;
}
/*<!--------------------------------section second------------------------------> */      
.section-title {
    font-size: 20px;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    color: white;
    text-align: center; 
    margin: 75px 0px;
    padding: 10px;
    max-width: 1440pc;
    width: 100%;
}

.underline {
    width: 50px;
    height: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 11px auto;
}

.section-text {
    font-size: 15px;
}

.second-container p , h1{
    color: white;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: #17c2a4;
    padding-top: 50px;
    padding-top: 1vh;
    width: 100%;
}

.cards {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 1440px;
    margin-bottom: 130px;
}

.card {
    text-align: center; 
}

.card img {
    display: block; 
    margin: 0 auto 10px; 
}

.card h4 {
    margin: 10px 0; 
    color: white;
}

.card p {
    margin: 20px 56px; 
    line-height: 1.6
}
/*<!--------------------------------section third------------------------------> */      
.section-title-third {
    font-size: 20px;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    text-align: center; 
    margin: 75px 0px;
    padding: 10px;
    max-width: 1440px;
    width: 100%;
    justify-content: center;
}

.underline {
    width: 50px;
    height: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 11px auto;
}

.section-text {
    font-size: 15px;
}

.third-container  h1, h4{
    color: #3c4761;
}

.third-container h5 {
    color: #30bae7;
}

.third-container p , h4, h5{
    color: black;
}

.third-container {
    text-align: center;
    background-color: #eaf2f8;
    padding: 25px ;
    padding-bottom: 0px;
}

.section-title-third h1 {
    font-size: 24px;
    font-weight: bold;
}

.team-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 40px;
    width: 1440px;
    margin-bottom: 50px;
}

.team-member {
    padding: 20px;
    border-radius: 10px;
    max-width: 220px;
    text-align: center;
}

.team-member img {
    order: -1; /* Posunie obrázok nad text */
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    margin-bottom: 20px; 
}

h4 {
    margin-top: 20px;
    font-size: 20px;
}

h5 {
    color: #888;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.team-container p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.social-icons img {
    width: 30px; 
    height: auto;
}
/*<!--------------------------------section fourth------------------------------> */      
.fourth-container h1 {
    color: #3c4761;
    text-align: center;
    padding-top: 80px;
}

.underline {
    width: 50px;
    height: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 11px auto;
}

.section-title-fourth {
    font-size: 20px;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    text-align: center; 
    margin: 75px 0px;
    padding: 10px;
    max-width: 1440px;
    width: 100%;
    justify-content: center;
}

.fourth-container {
    background-color: white;
    text-align: center;
    padding: 25px;
    padding-bottom: 0px;
}

.skills-section {
    text-align: center;
    margin: 40px auto;
}

.skills-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.skills-section p {
    max-width: 600px;
    margin: 0 auto 40px auto;
    font-size: 16px;
    color: #333;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    width: 1440px;
    margin: 0px auto;
    padding: 82px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-ring {
    width: 220px;
    height: 220px;
    position: relative;
    margin-bottom: 10px; 
}

.progress-ring svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); /* Korektná rotácia */
}

.background-ring {
    fill: none;
    stroke: #ddd;
    stroke-width: 12;
}

.foreground-ring {
    fill: none;
    stroke-width: 12;
    stroke-linecap: round;
    stroke-dasharray: 628; /* Obvod kruhu pri r = 100 */
    stroke-dashoffset: 628;
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.skill-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.skill-label {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px; 
}
/*<!--------------------------------section fifth------------------------------> */  
.fifth-container h1 {
    color: #374442;
    text-align: center;
    padding-top: 80px;
}

.section-text-fifth p {
    font-size: 20px;
    display: inline-block;
    position: relative;
    padding-bottom: 100px;
    text-align: center;
    padding: 5px;
    width: 1440px;
    justify-content: center;
    color: black;
    margin-bottom: 30px;
}

.underline-fifth {
    width: 50px;
    height: 5px;
    background-color: #e8c483;
    margin: 11px auto;
}

.fifth-container {
    background-color: #FFDD99;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    margin: 0 auto; 
    text-align: center;
    padding: 40px 20px;

}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 0px; 
    padding-bottom: 70px;
    background: none; 
}

.filter-btn {
    background-color: #d9ac63;
    border: none;
    padding: 10px 22px;
    font-size: 15px;
    font-weight: bold;
    color: #5a3d1f;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-btn.active {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.filter-btn:hover {
    opacity: 0.85;
}

.notebook-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
    max-width: 1152px;
    margin: 0 auto;
}

.notebook {
    width: calc(50% - 20px); /* Každý notebook zaberie polovicu riadku */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.notebook img {
    width: 100%;
    max-width: 600px; 
    height: 350px; 
    object-fit: cover; 
    border-radius: 5px;
}

.notebook p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #5a3d1f;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin: 60px; 
}

.load-more-btn-op {
    background-color: #17c2a4; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.load-more-btn:hover {
    background-color: #1AA78A; 
}
/*<!--------------------------------section six------------------------------> */  
.underline-six {
    width: 50px;
    height: 5px;
    background-color: #b93d6e;
    margin: 11px auto;
}

.six-container {
    display: flex;
    background-color: #D74680;
    width: 100%;
    max-width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-title-six h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    width: 1440px;
}

.section-text-six p {
    display: inline-block;
    position: relative;
    align-items: center;
    width: 1440px;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 1440px; 
    margin: 0 auto; 
}

.review {
    background-color: #D74680;
    padding: 40px;
    border-radius: 10px;
    width: 1440px;
    margin: 0 auto; 
    text-align: center;
}

.hodnotiaci {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px; 
    max-width: 1152px;
    margin: 0 auto;
}

.person {
    display: flex;
    align-items: center;
    width: 45%; /* Dve vedľa seba */
    padding: 15px;
    border-radius: 10px;
}

.person img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.text-six {
    text-align: left;
    color: white;
}

.text-six p {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 15px;
}

.popis h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.popis h6 {
    font-size: 14px;
    color: #ffcccb;
    font-style: italic;
    margin: 0;
}
/*<!--------------------------------section seven------------------------------> */  
.section-title-seven h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    width: 1440px;
}

.underline-seven {
    width: 50px;
    height: 5px;
    background-color: #273a71;
    margin: 11px auto;
}

.section-text-seven p {
    display: inline-block;
    position: relative;
    align-items: center;
    width: 1440px;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 1440px; 
    margin: 10px auto; 
}

.seven-container {
    display: flex;
    background-color: #3c5499;
    width: 100%;
    max-width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-seven {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.formular {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1152px; 
    margin: 0 auto; 
    padding: 30px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 1000px;
}

.input-wrapper {
    width: 50%;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 16px; 
    font-size: 18px; 
    border: none;
    border-radius: 8px;
    background: #273a71;
    color: white;
    box-sizing: border-box;
}

textarea {
    height: 180px;
    resize: none;
    margin-bottom: 15px;
}
 
.last {
    background: #30bae7;
    color: white;
    border: none;
    padding: 12px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #1a7cd8;
}

.required {
    color: #3c5499;
}
/*<!--------------------------------footer------------------------------> */  
footer {
    background: #344b8e;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 65px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 1152px;
    text-align: center;
}

.footer-nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.footer-nav a.twitter {
    color: #30bae7;
}

.footer-nav a:not(.twitter):hover {
    color: #30bae7;
}