* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: white;
    position: relative;
    border-bottom: 2px solid #f0f0f0;
    width: 1440px;
    margin: 0 auto; 
    box-sizing: border-box;
}

.main-header figure {
    margin: 0;
}
  
.main-header img {
    height: 50px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    position: relative;
}
  
.main-nav li {
    position: relative;
}
  
.main-nav li a {
    position: relative;
    text-decoration: none;
    color: #1a1a33;
    font-weight: bold;
    padding: 10px 0;
    display: inline-block;
    transition: color 0.3s;
}

.main-nav li a::after,
.main-nav li.active a::after {
    content: "";
    position: absolute;
    bottom: -12px; 
    left: 0;
    width: 0;
    height: 4px; 
    background-color: #00bfff;
    transition: width 0.3s ease;
    border-radius: 4px;
}

.main-nav li a:hover {
    color: #00bfff;
}

.main-nav li a:hover::after {
    width: 100%;
}

.main-nav li.active a {
    color: #00bfff;
}

.main-nav li.active a::after {
    width: 100%;
}

.main-nav:hover li.active a {
    color: #1a1a33;
}

.main-nav:hover li.active a::after {
    width: 0;
}

h1 {
    font-size: 12px;
    font-weight: 500;

}

h2 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 10px;
    color: #616070;
}

button {
    border: none;
    border-radius: 8px;
    font-weight: 700;
    background-color: #34ACDB;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0px;
    width: 100%;
}

.hodnotenie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cena {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hviezdicky {
    display: flex;
    flex-direction: row;
    gap:5px
}

.pocitac {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f3f3f3;
    padding: 32px 16px 16px;
    width: 200px;
    gap:20px;
}

.pc {
    width: 160px;
}

.popis {
    display: flex;
    gap:5px;
    flex-direction: column;
}

main img{
    width: 13px;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:65px;
    padding: 50px 100px;

}