@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color:#4741F4;
    --secondary-color:#0000AF;
    --main-font: 'roboto';
}
*{
    font-family: var(--main-font);
}
a{
    text-decoration: none;
}
body{
    background:var(--primary-color);
}
html{
    scroll-behavior: smooth;
}


.nav_color{
    color: var(--secondary-color);
}
@media only screen and (min-width: 992px) {
    .nav_btn{
        background-color: var(--secondary-color);
        padding: 1rem 2rem;
        border-radius: 1rem;
        color: #fff;
    }
    .nav_border{
        border-left: 0.188rem  solid #0000AF;
      }
      .hero_text{
        font-size: 5rem;

      }
  }
@media only screen and (max-width: 991px) {
    @media only screen and (min-width: 576px) {
        .hero_text{
            font-size: 3rem;
            font-weight: 700;
        }
    }
}
@media only screen and (max-width: 575px) {
    .hero_text{
        font-size: 2rem;
        font-weight: 700;
    }
    p{
        font-size: 1.625rem!important;
    }
    .lg-r{
        background-color: rgba(255,255,255,1)!important;
    }
    .lg-l{
        background-color: rgba(255,255,255,1)!important;
    }
    h2{
        font-size: 4.25rem !important;
    }
    .hr-50{
        margin: 1rem 0 !important;
    }
    .hr-50-b{
        margin: 1rem 0 !important;
    }
    .hr-33{
        margin: 1rem 0 !important;
    }
}
.hr-50{
    color: #fff;
    height: 0.25rem;
    background-color: #fff;
    border-width:0;
    border-radius: 0.25rem;
    margin: 4rem 0 4rem;
    width: 50%;
}
.hr-50-b{
    color: #004FE9;
    height: 0.25rem;
    background-color: #004FE9;
    border-width:0;
    border-radius: 0.25rem;
    margin: 4rem 0 4rem;
    width: 50%;
}

.hr-33{
    color: #fff;
    height: 0.25rem;
    background-color: #fff;
    border-width:0;
    border-radius: 0.25rem;
    margin: 4rem 0;
    width: 33%;
}

.lg-r{
    background-image: linear-gradient(to right, white,white , transparent);

}
.lg-l{
    background-image: linear-gradient(to left, white 66% , transparent);

}
p{
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
}
.pe-25{
    padding-right: 20% !important;
}
.ps-25{
    padding-left: 25% !important;
}
@media only screen and (max-width: 1200px){
    
    .pe-25{
        padding-right: 1rem!important;
        width: 100% !important;
    }
    .ps-25{
        padding-left: 1rem!important;
        width: 100% !important;
    }
    .lg-r{
        background-color: rgba(255,255,255,0.5);
    }
    .lg-l{
        background-color: rgba(255,255,255,0.5);
    }
}

h2{
    font-size: 6.25rem;
    margin  : 1rem 0 0;
}
.text_blue{
    color: var(--secondary-color);
}
.pod_bg{
    background-color: var(--primary-color);
    width: 90%;
}

.text-size-26{
    font-size: 1.625rem;
}
@media only screen and (min-width: 1200px){
    
    
    .transate_te{
        translate: 4% -4%;
    }
    .transate_bs{
        translate: -4% 4%;
    }
    .pos_abs{
        position: absolute;
    }
    .wd_50{
        width: 50%;
    }
    .wd_75{
        width: 75%;
    }
}
@media only screen and (min-width: 575px){

    .w_stat{
        width: 336px;
    }
}
.col_prim{
    color: var(--primary-color);
    font-weight: 600;
}